pandas~=3.0.0
sqlalchemy~=2.0.46
pyarrow
dask[dataframe]~=2026.1.2
pyspark~=4.1.1
matplotlib~=3.10.8
seaborn~=0.13.2
requests~=2.32.5
flask~=3.1.2
plotly

numpy~=2.4.2
pillow~=12.1.0
plt~=0.2.0
pyspark-stubs